:root {
    --font-color: #585958;    
    --body-bg-color: #f2f2f2;
    --font-dark: #282929;
    --orange: #e45447;
    --wrapper-bg-color: #fff;
    --box-shadow: 0 10px 20px -1px rgba(0, 0, 0, 0.24);
    --transition-time: .3s;   
}

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2rem;
}

body {
    color: var(--font-color);
    background-color: var(--body-bg-color);
}

.wrapper {
    /* width: 1152px; */
    width: 80%;    
    background-color: var(--wrapper-bg-color);
    margin: 4rem auto;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow)
}

nav {
    display: flex;
    justify-content: space-between;         
    align-items: center;
    margin-bottom: 50px;
}

.socials li {
    display: inline;
    margin-right: .3rem;
    
}

.socials svg {
    transition: var(--transition-time);
}

.socials a:hover svg{
    fill: var(--orange);
    transition: var(--transition-time);    
}

.nav-btn {
    padding: .3rem;    
    transition: var(--transition-time);
    background-color: transparent;    
    border: none;
}

.nav-btn:not(:first-child) {
    margin-left: .3rem;    
}

.nav-btn:hover {
    transform: rotate(-7deg) scale(1.2);
    background-color: var(--orange);
    color: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: var(--box-shadow);
    transition: var(--transition-time);
}

.nav-item {
    vertical-align: middle;
}

/* Hero section of page */
.hero-wrapper {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}

/* Styling hero sections */
.hero-name {
    width: 50%;    
}

.hero-avatar {
    width: 50%;    
    text-align: center;    
}

.hero-avatar img {
    border-radius: 180px;
}

/* Hero text section */
.hero-name > h1, .hero-name > div {
    margin-left: 70px;
}

.hero-text {
    color: #fff;
    background-color: var(--orange);    
    padding: .6rem;
    border-radius: 5px;    
    width: 280px;
    font-size: 1.4rem;
    text-align: center;
    margin-left: 10px;
    transform: rotate(-4deg);
    box-shadow: var(--box-shadow);
}

/* Hero avatar section */
