:root {
    --font-color: #585958;    
    --body-bg-color: #f2f2f2;
    --font-dark: #282929;
    --orange: rgb(228, 84, 71);
    --wrapper-bg-color: #fff;
    --box-shadow: 0 10px 20px -1px rgba(0, 0, 0, 0.24);
    --inside-shadow: inset 0px 0px 20px -7px rgba(40, 41, 41, 0.24);
    --transition-time: .3s;   
}

* {
    font-family: 'Roboto', sans-serif;    
    box-sizing: border-box;    
}

h1 {
    font-size: 6rem;    
}

h2 {
    font-size: 3rem;        
    margin: 2rem 0 2rem 0;                
}

h3 {
    font-size: 1.5rem;               
}

h4 {
    font-size: 1.3rem;    
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

p {    
    line-height: 2;
    font-size: 1.2rem;
    padding-left: 2rem;
}

body {
    color: var(--font-color);
    background-color: var(--body-bg-color);
}

.wrapper {        
    width: 100%;    
    display: flex;
    flex-direction: column;  
    align-items: center;  
}

/* Main continer */
.content-container {
    max-width: 1200px;
    background-color: var(--wrapper-bg-color);    
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px; 
    box-shadow: var(--box-shadow);
}

/* Grey inner content box with rounded corners and no shadow */
.inner-box {
    padding: 1rem 3rem 3rem 3rem;
    background-color: var(--body-bg-color);
    border-radius: 10px;    
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 8rem;            
}


/* title box with shadow */
.title-container {
    margin: 2rem 0;    
    display: inline-block;
    padding: .5rem;    
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

/* box styling for title box */
.orange {
    background-color: var(--orange);
    color: white;
}

.dark-grey {
    background-color: var(--font-dark);
    color: white;
}

/* Nav style */
nav {
    display: flex;
    justify-content: space-between;         
    align-items: center;
    margin-bottom: 50px;    
}

.socials li {
    display: inline;
    margin-right: .4rem;    
}

/* Set transition for svg elements */
.socials svg {
    transition: var(--transition-time);
}

.socials a:hover svg{
    fill: var(--orange);
    transition: var(--transition-time);        
}

/* Styling nav link buttons */
.nav-btn {
    padding: .3rem;    
    transition: var(--transition-time);
    background-color: transparent;    
    border: none;
}

.nav-btn:not(:first-child) {
    margin-left: .3rem;    
}

.nav-btn:hover {
    transform: rotate(-7deg) scale(1.2);
    background-color: var(--orange);
    color: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: var(--box-shadow);
    transition: var(--transition-time);
}

.nav-btn:active {
    background-color: var(--font-color);
}

.nav-item {
    vertical-align: middle;
}

/* Styling for HERO section */
#hero-wrapper {
    display: flex;
    margin-bottom: 50px;
    align-items: center;    
}

/* Styling left side of hero sections */
#hero-name {
    width: 50%;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Stacking hero text */
#hero-name > h1 {
    z-index: 2;  
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.24);
}

/* Hero text section */
#hero-name > div {
    position: relative;    
}

#hero-sub-text-container {
    z-index: 1;    
    bottom: 5px;
    left: 20px;
    color: #fff;
    background-color: var(--orange);    
    padding: .6rem;
    border-radius: 5px;    
    width: 280px;
    font-size: 1.4rem;
    text-align: center;    
    transform: rotate(-4deg);
    box-shadow: var(--box-shadow);    
}

#hero-sub-text {
    line-height: 1;
    padding: 0;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.24);
} 

/* Hero right side / avatar part of section */
#hero-avatar {
    width: 50%;    
    text-align: center;    
}

#hero-avatar img {
    border-radius: 180px;
    box-shadow: var(--box-shadow);
}

/* Styling main section of page */
/* About me */
.skills ul {
    display: flex;        
    flex-wrap: wrap;
    gap: 1rem;        
    
}

/* Smooth scaling */
.skills svg {
    transition: var(--transition-time);
}

.skills svg:hover {
    transform: scale(1.5);
    transition: var(--transition-time);
}

/* Display black and white icons / Show color on hover */
.skills svg path, .skills svg g {
    mix-blend-mode: luminosity;
}

.skills svg:hover path, .skills svg:hover g {
    mix-blend-mode: normal;    
}

/* Work */
.project-wrapper {
    border-radius: 10px;
    padding: 1rem;    
    box-shadow: var(--box-shadow);
    transition: var(--transition-time);    
    margin-bottom: 2rem;
}

.project-wrapper:hover {
    transform: scale(1.02);
    transition: var(--transition-time);
}

.project-flex-container {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;    
}
/* main project */
.starred-project {
    width: 100%;    
}
/* Smaller projects */
.project-thumbnail {
    width: 49%;       
}

.project-content {
    position: relative;
}

.project-content img {
    width: 100%;    
    border-radius: 10px;
}

.project-label {
    position: absolute;
    bottom: 10%;
    background-color: var(--orange);
    color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 0 10px 10px 0;
}

.project-label h5 {
    font-weight: normal;    
    margin: .5rem;
}

.project-label h6 {
    margin: .5rem;
    font-weight: normal;    
}

/* Contact part of the page */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
}

.contact-text {
    width: 100%;         
    margin-bottom: 1rem;
}

.contact-text, .contact-info {
    width: 100%;    
}

.contact-info {
    text-align: center;    
    display: flex;
    justify-content: space-evenly; 
}

.e-mail {
    transition: var(--transition-time);
}

.e-mail:hover {
    color: var(--orange);
    transition: var(--transition-time);
}


/* Footer */
footer {
    padding-bottom: 4rem;
}

.footer-text {
    text-align: center;
}



/* Media screen adjustments */
@media screen and (max-width: 768px) {
    /* Recuse font size for inside p elements */
    p {
        font-size: 1rem;
    }
    /* Reduce margin for content-container */
    .content-container {
        margin: 1rem;
    }
    /* Change positioning of elements in hero section */
    #hero-wrapper {
        flex-direction: column;
    }    
    /* Reduce size of main image */
    #hero-wrapper img {
        width: 200px;
        margin-top: 1rem;
    }
    /* Reduce size of text in hero section */
    #hero-text {
        width: 180px;
        font-size: .8rem;
        text-align: center;       
    }      
    /* Reduce size of project labels */
    .project-label h6 {
        font-weight: normal;    
    }
    .project-label h6 {
        margin: .2rem .5rem;
        font-size: .7rem;
        font-weight: normal;    
    }
    /* Reduce size of padding in each project container */
    .project-wrapper {
        padding: .4rem;    
    }     
    /* Change contact-info layout from horizontal to vertical */
    .contact-info {
        flex-direction: column;
    }
}



